networks:
  ai-net:
    driver: bridge

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: n8n
      POSTGRES_PASSWORD: n8npass
      POSTGRES_DB: n8n
    volumes:
      - /mnt/docker-root/n8n/postgres:/var/lib/postgresql/data
    networks:
      - ai-net

  qdrant:
    image: qdrant/qdrant:v1.12.5
    container_name: qdrant
    restart: unless-stopped
    ports:
      - "6333:6333"
    volumes:
      - /mnt/docker-root/n8n/qdrant:/qdrant/storage
    networks:
      - ai-net

  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: unless-stopped
    ports:
      - "5678:5678"
    environment:
      DB_TYPE: postgresdb
      DB_POSTGRESDB_HOST: postgres
      DB_POSTGRESDB_PORT: 5432
      DB_POSTGRESDB_DATABASE: n8n
      DB_POSTGRESDB_USER: n8n
      DB_POSTGRESDB_PASSWORD: n8npass

      # OPENAI
      OPENAI_API_KEY: ${OPENAI_API_KEY}

      # IMPORTANTE: Para usar API REST desde frontend
      N8N_HOST: 0.0.0.0
      N8N_PORT: 5678
      WEBHOOK_URL: http://n8n:5678
    depends_on:
      - postgres
      - qdrant
    networks:
      - ai-net
    volumes:
      - /mnt/docker-root/n8n:/home/node/.n8n

  frontend:
    build: ./frontend
    container_name: chat_ui
    ports:
      - "5050:5050"
    networks:
      - ai-net
    environment:
      N8N_URL: http://n8n:5678
      OPENAI_MODEL: gpt-4o
    volumes:
      - /mnt/docker-root/n8n/frontend:/app
    command: sh -c "pnpm install && pnpm run dev -- --host 0.0.0.0"
